@import url('https://fonts.googleapis.com/css2?family=Lato&family=Recursive:wght@300;400;500;600;700;800&display=swap');

.heading-exp{
    font-family: 'Recursive', sans-serif;
    margin-bottom: 30px ;
    font-weight: bold;
    text-align: center;
    font-size: 31px;
    color: #0e547c;

}

 textarea:focus, input:focus{
    outline: none;
}

.edit-icon{
    font-size: 2em;
    cursor: pointer;
    margin-top: 2%;
    display: flex;
    justify-content: end;
    margin-right: 6%;
}
.edit-icon a{
    color: grey ;
}

.edit-icon:hover .edit-hover {
    opacity: 1;
    transform: translate(-20%, 120%);
    transition: all 0.8s;

}

.edit-hover {
    position: absolute;
    background-color: rgb(9 65 97 / 10%);
    color: rgb(9 65 97);
    padding: 5px 15px ;
    transform: translate(-24%, 132%);
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
}
.main{
    /* background-color: rgb(191, 217, 240); */
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 500px;
    
}
.experience-block{
    border-left: 5px solid rgba(165, 163, 163, 0.384);
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: 1.5% 0px ;
    /* box-sha/dow: 1px 1px 10px 0px rgb(148, 147, 147) , -1px -1px 10px 0px rgb(148, 147, 147) ; */

}
.blog-title {
    font-family: 'Lato', sans-serif;
    padding: 0px 1%;
    padding-top: 1.5%;
}

.blog-content{
    font-family: 'Recursive', sans-serif;
    text-align: left ;
    color: gray;
    min-height: 60px;
    padding: 1% 2.5% ;
}
.blog-content a{
    color:rgb(33, 103, 160);
    font-size:1.1em;
}
@media screen and (max-width: 438px) {

    .edit-hover{
        display: none;
    }
    .experience-block{
        margin-bottom: 5vh;
        
    }
    
    .heading-exp{
        font-size: 1.5em;
    }
    .blog-content{
        padding-left: 4%;
    }

}

@media screen and (max-width: 768px) {

    .blog-title{
        font-size: 1em;

    }
    .blog-content{
        font-size: 0.8em;
    }
    .experience-block{
        padding-left: 2%;
        margin-bottom: 6vh;
    }

    .edit-icon{
        font-size: 1.5em;
    }
}
