body{
  background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #93c4dfb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #81b8d6b7);
}


.option{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:10%;  

}



.common{
    width: 80%;
    height: 100px;
    background-color: white;
    box-shadow: 1px -1px 9px 1px gray;
    margin-top: 7%;
    color:black;
    border-radius: 10px 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.common a{
  text-decoration: none;
}
.common:hover{
  cursor: pointer;
  
  transform : scale(1.1) ;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 768px)
{
    .option{
        flex-direction: row;
        justify-content: center;
    }
    .common{
      width: 15%;
      height: 150px;
      gap:2%;
    }
}
