body{
  background: white;  /* fallback for old browsers */
   
}


.option{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:10%;  

}


.common{
    width: 80%;
    height: 100px;
    background-color: white;
    box-shadow: 1px -1px 9px 1px gray;
    margin-top: 7%;
    color:black;
    text-align: center;
    overflow: hidden;
}
.common a{
  text-decoration: none;
}
.common:hover{
  cursor: pointer;
  
  /* transform : scale(1.1) ;
  transition: all 0.3s ease-in-out; */
}

.sq1{
    position: relative;
    width: 200px;
    height: 200px;
    top: -30px;
    left: 0px;
    width: 180px;
    height: 180px;
    background: -webkit-gradient(linear, left top, right top, from(#237db6), to(rgba(31,38,103,0.9)));
    background: linear-gradient(to right, #237db6, rgba(31,38,103,0.9));
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.sq2{
  position: relative;
  top: -216px;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms;
  right: -106px;
  border-radius: 0px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(49,207,171,0.5)), to(#50e3c2));
  background: linear-gradient(to right, rgba(49,207,171,0.5), #50e3c2);
  -webkit-transform: rotate(-55deg);
  transform: rotate(-55deg);
}
.cir{
  border-radius: 50%;
}

.card:hover .sq {
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg) scale(1.1);
  -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
.title{
  position: relative;
  top: -70px;
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: 500;
}
@media screen and (min-width: 768px)
{
    .option{
        flex-direction: row;
        justify-content: center;
    }
    .common{
      width: 16%;
      height: 330px;
      gap:2%;
    }
}
